* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: #232946;
    font-family: 'General Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #fffffe;
  font-family: 'Boska', serif;
  font-weight: 400;
}

h1#logo-text {
  text-align: center;
  font-size: 1.5rem;
  color: #a7a9be;
  line-height: 1.3rem;
  letter-spacing: .1em;
}
p {
  color: #a7a9be;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: .1rem 0;
  padding: 1rem;
  background-color: #917fd1;
  box-shadow: var(--shadow);
}

ul.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

a.nav-item {
  text-decoration: none;
  color: #fffffe;
  padding: 0;
  font-weight: semibold;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

a.nav-item:hover {
  color: #232946;
  transform: scale(1.1);
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.divider {
  border: none;
  height: 1px;
  background-color: #917fd1;
  margin: 0;
  opacity: 0.4;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.head-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head-social {
  text-align: right;
  margin: 2rem 0;
}

.head-social svg {
  transition: transform 0.2s ease-in-out, fill 0.2s ease-in-out;
}
.head-social svg:hover {
  fill: #a98fff;
  transform: scale(1.1);
}
